{{define "test.gotmpl" -}}
package {{.Package}}

import (
	"testing"
)

// Test{{.ObjectName}} tests the {{.ObjectName}} type.
func Test{{.ObjectName}}(t *testing.T) {
	// TODO: write tests for {{.ObjectName}}
}
{{end}}