{{define "test.gotmpl" -}}
{{.Package}}

import (
	"testing"
)

{{if .ObjectName -}}
// Test{{.ObjectName}} tests the {{.ObjectName}} type.
func Test{{.ObjectName -}}(t *testing.T) {
//TODO add Test{{.ObjectName}}
t.Errorf("Test{{.ObjectName}} not implemented")
}
{{else}}
// TestXxx tests the default case.
func TestXxx(t *testing.T) {
//TODO add TestXxx
t.Errorf("TestXxx not implemented")
}
{{end -}}
{{end}}